.header {
  height: var(--header-height);
  position: relative;
  z-index: 100;

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: desktop-vw(40px);
    width: desktop-vw(40px);

    @include-media ('mobile') {
      height: mobile-vw(30px);
      width: mobile-vw(30px);
    }
  }
}
