@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: desktop-vw(80px);

  @include-media ('mobile') {
    --header-height: mobile-vw(70px);
  }
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

* {
  scrollbar-width: thin;
}

/* Core styles that shouldn't be reset */
body {
  min-height: 100vh;
  overscroll-behavior: none;
  background-color: var(--theme-primary);
  color: var(--theme-secondary);
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  font-family: var(--font-alexandria), Arial, Helvetica, sans-serif;
}

/* html,
body,
#root,
#__next {
  overscroll-behavior: none;
  min-height: 100%;
} */

/* main {
  overflow: hidden;
  position: relative;
  z-index: z-index("main");
} */

*::selection {
  background-color: var(--pekin-chicken);
  color: var(--pine-needle);
}

sup {
  font-size: xx-small;
  vertical-align: super;
}

.gsap-marker-end,
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start {
  z-index: z-index("gsap-markers") !important;
}

.input-required {
  color: var(--error) !important;
  transition: 200ms all ease;

  * {
    color: var(--error) !important;
    transition: 200ms all ease;
  }
}

.animated-underline {
  position: relative;
  --color: var(--pekin-chicken);
  --ease: cubic-bezier(0.165, 0.84, 0.44, 1);

  &:before {
    content: "";
    position: absolute;
    bottom: 0.1ch;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color);
    transform-origin: right;
    transform: scaleX(1) translateZ(0);
    transition: transform 600ms var(--ease) 200ms;
    will-change: transform;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0.1ch;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color);
    transform-origin: left;
    transform: scaleX(0) translateZ(0);
    transition: transform 600ms var(--ease);
    will-change: transform;
  }

  @include hover {
    &:hover {
      &:before {
        transform: scaleX(0) translateZ(0);
        transition: transform 600ms var(--ease);
      }
    }

    &:hover {
      &:after {
        transform: scaleX(1) translateZ(0);
        transition: transform 600ms var(--ease) 200ms;
      }
    }
  }
}

.animated-underline-single {
  position: relative;
  --color: var(--pekin-chicken);
  --ease: cubic-bezier(0.165, 0.84, 0.44, 1);

  &:after {
    content: "";
    position: absolute;
    bottom: 0.1ch;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color);
    transform-origin: left;
    transform: scaleX(0) translateZ(0);
    transition: transform 400ms var(--ease);
    will-change: transform;
  }

  @include hover {
    &:hover {
      &:after {
        transform: scaleX(1) translateZ(0);
        transition: transform 400ms var(--ease) 200ms;
      }
    }
  }
}

.inherit-dims {
  height: inherit;
  width: inherit;
}

.add-header-height {
  margin-top: var(--header-height);
}

.container-section {
  @apply container mx-auto px-4 sm:px-6 lg:px-8 xl:px-0;
}

.Placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.ScrollScene,
.ViewportScrollScene {
  /* outline: 1px dashed rgba(255, 255, 255, 0.33); */
  position: relative;
  z-index: 1000;
}
/* .ScrollScene:after,
.ViewportScrollScene:after {
  content: "ScrollScene";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.33);
  color: black;
  font-size: 10px;
  padding: 5px;
} */

.ViewportScrollScene:after {
  content: "ViewportScrollScene";
}
