@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: desktop-vw(80px);

  @include-media ('mobile') {
    --header-height: mobile-vw(70px);
  }
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

* {
  scrollbar-width: thin;
}

/* Core styles that shouldn't be reset */
body {
  min-height: 100vh;
  overscroll-behavior: none;
  background-color: var(--theme-primary);
  color: var(--theme-secondary);
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  font-family: var(--font-alexandria), Arial, Helvetica, sans-serif;
}

*::selection {
  background-color: var(--pekin-chicken);
  color: var(--pine-needle);
}

.gsap-marker-end,
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start {
  z-index: z-index("gsap-markers") !important;
}

.input-required {
  color: var(--error) !important;
  transition: 200ms all ease;

  * {
    color: var(--error) !important;
    transition: 200ms all ease;
  }
}

.inherit-dims {
  height: inherit;
  width: inherit;
}

.add-header-height {
  margin-top: var(--header-height);
}

.container-section {
  @apply container mx-auto px-4 sm:px-6 lg:px-8 xl:px-0;
}

.with-bg {
  background-image: url("../public/img/bg-attachment.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
